// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* header */

.background-transparent {
  background: transparent;
  position: absolute;
  -webkit-transition: background 300ms cubic-bezier(0, 0, 0.2, 1) 150ms;
  -o-transition: background 300ms cubic-bezier(0, 0, 0.2, 1) 150ms;
  transition: background 300ms cubic-bezier(0, 0, 0.2, 1) 150ms;
}

.background-opaque {
  background: #373d41 !important;
}

.navbar {
  top: 0;
  z-index: 999;
  width: 100%;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;

  .container-fluid {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  a{
    color: white !important;
    -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container-fluid:nth-child(1)  {
    height: 40px;
    padding-right: 50px;
    padding-left: 28px;

    .navbar-brand {
      padding: 9px 0 0 15px;
      height: 40px;
    }

    ul > li > a {
      padding-top: 10px;
      height: 40px;
    }
  }

  .container-fluid:nth-child(2) {
    height: 50px;

    #signup {
      height: 50px;
      padding:13px 41px;
      border-radius: 0;
    }

    #signup:hover, #signup:focus {
      background-color: #3a8dd5 !important;
    }
  }

  .liu-collapse {
    display: none;
  }
}

.background-transparent:hover {
  background-color: #373d41 !important;
}

.liu-underline > li > a:hover, .liu-underline > li > a:focus {
  background: none !important;
  padding-bottom: 12px;
  border-bottom: 3px solid #ddd;
}

/* home */

#liu-feature, #liu-solution, #liu-process {
  border-bottom: 1px solid #e6e6e6;
  padding: 7em 0;

  .row {
    margin: 0;
  }
}

.liu-heading {
  margin-bottom: 5em;

  h2 {
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 300;
    color: #484848;
    position: relative;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
  }
}

.animate-box {
  opacity: 0;
}

#liu-header {
  .item {
    background-size: cover !important;
  }

  .carousel-caption {
    position: inherit;
    min-height: 600px;
    padding-top: 15em;
    text-align: center;
  }

  .carousel-caption h2,
  .carousel-caption h3 {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height:1.5em;
  }

  .carousel-caption h2 span, .carousel-caption h3 span {
    font-weight: 700;
    color: #cb1def;
    display:block;
  }

  .carousel-caption p {
    letter-spacing: 7px;
    font-size: 1.1em;
    font-weight: 300;
    color: #fff;
    margin: 1em 0 1em 0;
    padding: 0 25px;
  }
  .carousel-caption h6 {
    font-size: 17px;
    line-height: 1.8em;
    margin: 0 auto;
    width: 76%;
    letter-spacing: 2px;
  }
  .carousel-caption a {
    color: #fff;
    letter-spacing: 1px;
    padding: 11px 20px;
    background: none;
    font-size: 0.9em;
    border-radius: 0;
    border: 1px solid #fff;
  }

  .carousel-caption a:hover {
    background: #89379a;
    border: 1px solid #89379a;
  }
}


//start---------------------------------------------


@media(max-width:1366px) {
  .carousel-caption {
    min-height: 576px !important;
    padding-top: 10em !important;
  }
}

@media(max-width:1280px) {
  .carousel-caption h2,
  .carousel-caption h3 {
    font-size: 2.5em !important;
    font-weight: 100 !important;
    letter-spacing: 2px !important;
  }
}

@media(max-width:1080px) {
  .carousel-caption {
    min-height: 512px !important;
    padding-top: 9em !important;
  }
}

@media(max-width:1024px) {

  .carousel-caption p {
    letter-spacing: 5px !important;
    font-size: 1em !important;
    margin: 1em 0 2em 0 !important;
  }
}

@media(max-width:991px) {
  .carousel-caption {
    min-height: 490px !important;
    padding-top: 7em !important;
  }

  .carousel-caption p {
    letter-spacing: 1px!important;
  }
}

@media(max-width:900px) {
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 2.2em !important;
    font-weight: 100 !important;
    letter-spacing: 2px !important;
  }
}

@media(max-width:800px) {
  .carousel-caption {
    min-height: 393px !important;
    padding-top: 4em !important;
  }
}

@media(max-width:667px) {
  .carousel-caption p {
    font-size: 1em !important;
    margin: 0.5em 0 1em 0 !important;
  }
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 2.4em !important;
    font-weight: 100 !important;
    letter-spacing: 2px !important;
  }
}

@media(max-width:600px) {
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 2.2em !important;
    font-weight: 100 !important;
    letter-spacing: 2px !important;
  }

  .carousel-caption p {
    letter-spacing: 1px !important;
    font-size: 1em !important;
    margin: 0.5em 0 1em 0 !important;
  }
}

@media(max-width:480px) {
  .carousel-caption {
    min-height: 358px !important;
    padding-top: 4em !important;
  }
}

@media(max-width:440px) {
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1.8em !important;
    font-weight: 100 !important;
    letter-spacing: 2px !important;
  }

  .carousel-caption {
    min-height: 320px !important;
    padding-top: 3em !important;
  }
}


@media(max-width:384px) {
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1.8em !important;
    font-weight: 100 !important;
    letter-spacing: 1px !important;
  }

  .carousel-caption p {
    margin: 0.5em 0 0.5em 0 !important;
  }
}

@media(max-width:375px) {
  .carousel-caption {
    min-height: 300px !important;
    padding-top: 3em !important;
  }
}

@media(max-width:320px) {
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1.4em !important;
    font-weight: 100 !important;
    letter-spacing: 1px !important;
  }
  .carousel-caption p {
    letter-spacing: 1px !important;
    font-size: 0.9em !important;
    margin: 0.3em 0 0em 0 !important;
  }
  .carousel-caption {
    min-height: 283px !important;
    padding-top: 4em !important;
  }
}

//end---------------------------------------

#liu-feature {
  .liu-center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;

    i {
      display: table-cell;
      vertical-align: middle;
      height: 90px;
      font-size: 40px;
      color: #cccccc;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f54c53;
    }

    p {
      color: #777;
    }
  }
}

#liu-solution {
  .carousel-background {
    background-color: #373d41;
  }

  .liu-carousel-background img{
    opacity: 0.6;
  }

  .carousel-background-padding {
    padding: 0 50px;
  }

  .liu-carousel {
    top:23%;
    position: absolute;
    z-index: 999;
    color: white;
    width: 100%;
    text-align: center;
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

    img {
      height: 72px;
      width: 72px;
      display: inline-block;
    }

    .liu-carousel-line {
      width: 20px;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }

    .liu-carousel-title {
      font-weight: 700;
      font-size: 22px;
    }

    .liu-collapse p{
      padding: 0 23px;
    }
  }

  .item :hover, .item :focus {

    .liu-carousel-background {
      background-color: rgba(0, 193, 222, 0.7);

      img {
        opacity: 0.2 !important;
      }
    }

    .liu-carousel {
      margin-top: -40px !important;
    }

    .liu-collapse {
      display: block;
    }

    .liu-collapse-inverse {
      display: none;
    }
  }
}

#liu-process {
  .liu-left {
    margin-bottom: 50px;

    h3 {
      color: #f54c53;
      margin-bottom: 20px;
    }

    p {
      padding-right: 25px;
      color: #777;
    }
  }

  .liu-popup-item {
    display: block;
    width: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    bottom: 0;
    margin-bottom: 30px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    figure {
      height: 240px;
      overflow: hidden;
      z-index: 12;
      position: relative;
      margin-bottom: 20px;

      .overlay {
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;

        i {
          z-index: 12;
          color: #fff;
          font-size: 30px;
          position: absolute;
          margin-left: -15px;
          margin-top: -45px;
          top: 50%;
          left: 50%;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }

      }

      .img-responsive {
        z-index: 8;
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
    }

    .liu-popup-text {
      padding: 0 10px 10px 20px;
      text-align: center;

      h2 {
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 10px 0;
        color: #f54c53;
      }

      p {
        font-size: 16px;
        line-height: 1.7;
        color: #777;
      }
    }
  }

  .liu-popup-item:hover,
  .liu-popup-item:focus {
    outline: none;
    bottom: 7px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);

    .img-responsive {
      transform: scale(1.2);
    }

    figure .overlay {
      opacity: 1;
      visibility: visible;

      i {
        margin-top: -15px;
      }
    }
  }
}

.user_info {
  text-align: center;
}

.message-container {
  position:relative;
  top:100px
}

@media (max-width: 940px) {
  /* header */
  .navbar-toggle {
    display: inline-block;
  }

  .navbar {
    position: relative;
    min-height: 40px;
    height: 40px;
    border-radius: 0;
    background-color: #373d41;

    .navbar-header {
      float: none;

      .navbar-brand {
        margin-left: 0;
      }

      button {
        margin: 3px -10px 0 0;
        border: 0;

        .icon-bar {
          background-color: #f5f5f5;
        }
      }
    }

    .offcanvasMenu-dis {
      display: none;
    }
  }

  /* home */
  #liu-header {
    img {
      margin-top: -50px;
    }
  }
}

/* gototop */

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;

  a {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    text-decoration: none !important;
    border-radius: 6px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    i {
      display: table-cell;
      vertical-align: middle
    }
  }
}

/* Owl Override Style */

.owl-height {
  height: auto !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0 !important;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 54%;
  margin-top: -39px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -7px;
  padding: 0 !important;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -7px;
  padding: 0 !important;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: transparent !important;
  padding: 12px 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: transparent !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #f54c53;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #f54c53;
}

