// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* header */

.navbar {
  position: absolute;
  z-index: 999;
  width: 100%;
  background: transparent;
  border: 0;
  margin-bottom: 0;
  -webkit-transition: background 300ms cubic-bezier(0, 0, 0.2, 1) 150ms;
  -o-transition: background 300ms cubic-bezier(0, 0, 0.2, 1) 150ms;
  transition: background 300ms cubic-bezier(0, 0, 0.2, 1) 150ms;

  a{
    color: white !important;
    -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container-fluid {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .container-fluid:nth-child(1)  {
    height: 40px;
    padding-right: 50px;
    padding-left: 28px;

    .navbar-brand {
      padding: 9px 0 0 15px;
      height: 40px;
    }

    ul > li > a {
      padding-top: 10px;
      height: 40px;
    }
  }

  .container-fluid:nth-child(2) {
    height: 50px;

    button {
      height: 50px;
      padding:6px 41px;
      border-radius: 0;

      :hover, :focus {
        background-color: #3a8dd5 !important;
      }
    }
  }
}

.navbar:hover {
  background-color: #373d41 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  background: none !important;
  padding-bottom: 12px;
  border-bottom: 3px solid #ddd;
}

/* home */

#liu-feature, #liu-solution, #liu-process {
  border-bottom: 1px solid #e6e6e6;
  padding: 7em 0;

  .row {
    margin: 0;
  }
}

.liu-heading {
  margin-bottom: 5em;

  h2 {
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 300;
    color: #484848;
    position: relative;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
  }
}

.animate-box {
  opacity: 0;
}

#liu-header {
  .carousel-caption {
    background-color: rgba(255, 255, 255, 0.6);
    color: #504f4f;
    margin-bottom: 0;
  }

  img {
    //min-height: 455px;
    //min-width: 1364px;
    min-height: 392px;
    min-width: 1176px;
  }

  .carousel-caption-shown {
    display: none;
    text-align: center;
  }
}

#liu-feature {
  .liu-center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;

    i {
      display: table-cell;
      vertical-align: middle;
      height: 90px;
      font-size: 40px;
      color: #cccccc;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f54c53;
    }

    p {
      color: #777;
    }
  }
}

@media (max-width: 940px) {
  /* header */
  .navbar-toggle {
    display: inline-block;
  }

  .navbar {
    position: relative;
    min-height: 40px;
    height: 40px;
    border-radius: 0;
    background-color: #373d41;

    .navbar-header {
      float: none;

      .navbar-brand {
        margin-left: 0;
      }

      button {
        margin: 3px -10px 0 0;
        border: 0;

        .icon-bar {
          background-color: #f5f5f5;
        }
      }
    }

    .offcanvasMenu-dis {
      display: none;
    }
  }

  /* home */
  #liu-header {
    img {
      margin-top: -50px;
    }
  }
}

/* gototop */

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;

  a {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    text-decoration: none !important;
    border-radius: 6px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    i {
      display: table-cell;
      vertical-align: middle
    }
  }
}

/* Owl Override Style */

.carousel-background {
  background-color: #373d41;
}

.liu-item-background img{
  opacity: 0.6;
}

.liu-collapse {
  display: none;
}

#liu-solution {
  //.row {
  //  margin: 0;
  //
  //  .carousel-background-padding {
  //    padding: 0 50px;
  //  }
  //}
  .carousel-background-padding {
    padding: 0 50px;
  }

  .liu-item {
    top:23%;
    position: absolute;
    z-index: 999;
    color: white;
    width: 100%;
    text-align: center;
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

    img {
      height: 72px;
      width: 72px;
      display: inline-block;
    }

    .liu-item-line {
      width: 20px;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }

    .liu-item-title {
      font-weight: 700;
      font-size: 22px;
    }

    .liu-collapse p{
      padding: 0 23px;
    }
  }

  .item :hover, .item :focus {

    .liu-item-background {
      background-color: rgba(0, 193, 222, 0.7);

      img {
        opacity: 0.2 !important;
      }
    }

    .liu-item {
      margin-top: -40px !important;
    }

    .liu-collapse {
      display: block;
    }

    .liu-collapse-inverse {
      display: none;
    }
  }
}

.owl-height {
  height: auto !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0 !important;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 54%;
  margin-top: -39px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -7px;
  padding: 0 !important;
}
//.owl-carousel .owl-controls .owl-nav .owl-next:hover,
//.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
//  margin-right: -10px;
//}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -7px;
  padding: 0 !important;
}
//.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
//.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
//  margin-left: -10px;
//}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: transparent !important;
  padding: 12px 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: transparent !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #f54c53;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #f54c53;
}

